
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*cuerpo de pag */

body {

    box-sizing: border-box;
    background-color: whitesmoke;
    color: black;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;     
}

.header {
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar{
    padding: 15px 0;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: blue;
}

.icono{
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    transition: all 0.3s ease;
}

.icono:hover {
    color: whitesmoke;
    transform: scale(1.1);
}


.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    width: 100%;
}
/* Seccion presentacion contenido */
.presentacion__contenido {
    text-align: center;
    max-width: 750px;    
    
}
.presentacion__contenido__titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: black;
    line-height: 1.2;
    position: static;
    text-align: center;
}

.presentacion__contenido__texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.6rem;
    line-height: 1.6; 
    text-align: center;
}

/* seccion presentacion proyectos */

.presentacion_proyectos{
    text-align: center;
    max-width: 750px;    
}

.presentacion_proyectos_titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    margin-top: 10%;
}

.item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.5rem;
    line-height: 1.6; 
    margin-bottom: 3%;
    text-align: center;
    align-items: center;
}

/* El formulario */

form {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 350px;
    margin-top: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    padding: 10%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(52, 169, 247, 0.788);
}

form:hover {
    transform: translateY(-10px);
}

input {
    border: none;
    background-color: #f0f0f0;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 1.5rem;
    outline: none;
    transition: all 0.3s ease;
}

input:focus {
    background-color: #e0e0e0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#fname, #lname{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

/* Pagina Mascotas */

.mascotas_galeria{
    display: flex;
    gap: 100px;
    flex-direction: row;
}

.mascotas_titulo{
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: blue;
    align-items: center;
    justify-content: center;
}

.mascotas_titulo2 {
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    align-items: top;
}

.img{
    max-width: 350px;
    max-height: 450px;
    margin: 10px;
    border-radius: 15%;
    flex-direction: row;
   
}

.slide {
    font-family: var(--fuente-montserrat);
    align-items: center;
}

.titulo_img {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align:center;
}

.text_img{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align:center;
}